In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import gkey
gmaps.configure(api_key = gkey)

In [2]:
city_df = pd.read_csv("city.csv")
city_df

,City,Max Temperature,Humidity,Wind Speed,Cloudiness,Latitude,Longitude,Country,Date
0,hobart,20.59,80.0,0.45,92.0,-42.8794,147.3294,AU,1643309996
1,atuona,25.65,76.0,8.25,0.0,-9.8000,-139.0333,PF,1643310250
2,rikitea,25.90,74.0,8.51,91.0,-23.1203,-134.9692,PF,1643310250
3,kaitangata,7.87,76.0,0.95,95.0,-46.2817,169.8464,NZ,1643310251
4,olinda,27.77,69.0,3.44,100.0,-8.0089,-34.8553,BR,1643310021
...,...,...,...,...,...,...,...,...,...
507,mehamn,11.73,58.0,3.34,25.0,29.1081,21.2869,LY,1643311081
508,znamenka,31.93,49.0,2.07,100.0,-0.1934,-74.7819,CO,1643311082
509,acapulco,24.60,70.0,2.06,0.0,21.3469,-158.0858,US,1643311082
510,santa maria,-17.35,90.0,5.20,100.0,59.5833,151.2833,RU,1643311082
511,mrirt,25.01,46.0,1.79,32.0,-34.5703,-59.1050,AR,1643311083

In [3]:
locations = city_df[["Latitude", "Longitude"]]
weights = city_df["Humidity"]
locations

     Latitude  Longitude
0    -42.8794   147.3294
1     -9.8000  -139.0333
2    -23.1203  -134.9692
3    -46.2817   169.8464
4     -8.0089   -34.8553
..        ...        ...
507   29.1081    21.2869
508   -0.1934   -74.7819
509   21.3469  -158.0858
510   59.5833   151.2833
511  -34.5703   -59.1050

[512 rows x 2 columns]

In [24]:
fig = gmaps.figure(center = (0,0), zoom_level = 2)
heat_layer = gmaps.heatmap_layer(locations, weights = weights, dissipating = False, max_intensity = 200, point_radius = 5)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
city_df.dropna(inplace = True)