In [25]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
from ipywidgets.embed import embed_minimal_html

# Import API key
from api_keys import gkey
gmaps.configure(api_key = gkey)

In [37]:
city_df = pd.read_csv("city.csv")
print(f"number of records: {len(city_df)}")
city_df.dropna(how = "any", inplace = True)
print(f"number of records after removal of nulls: {len(city_df)}")

number of records: 1000
number of records after removal of nulls: 897

In [38]:
locations = city_df[["Latitude", "Longitude"]]
weights = city_df["Humidity"]

In [39]:
fig = gmaps.figure(center = (0,0), zoom_level = 2)
heat_layer = gmaps.heatmap_layer(locations, weights = weights, dissipating = False, max_intensity = 200, point_radius = 5)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
hotel_df = city_df.loc[(city_df["Max Temperature"] >= 23) & (city_df["Max Temperature"] < 33) & (city_df["Humidity"] < 15) & (city_df["Wind Speed"] < 5), :]
hotel_df["Hotel Name"] = ""
hotel_df["Hotel Lat"] = ""
hotel_df["Hotel Lng"] = ""
hotel_df

<ipython-input-40-214d1f31ac92>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""
<ipython-input-40-214d1f31ac92>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Lat"] = ""
<ipython-input-40-214d1f31ac92>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Lng"] = ""

,City,Max Temperature,Humidity,Wind Speed,Cloudiness,Latitude,Longitude,Country,Date,Hotel Name,Hotel Lat,Hotel Lng
150,naryan-mar,24.16,14.0,4.11,94.0,10.3744,10.7288,NG,1.643567e+09,,,
374,tucuman,31.59,10.0,2.60,73.0,9.8833,-2.9167,BF,1.643567e+09,,,
394,kichmengskiy gorodok,31.13,11.0,2.38,91.0,9.0333,1.4167,TG,1.643567e+09,,,
396,pacific grove,25.04,13.0,4.96,5.0,20.1986,1.0114,ML,1.643567e+09,,,
605,madera,26.51,11.0,4.15,99.0,20.5022,-10.0711,MR,1.643567e+09,,,
610,xiongzhou,25.40,14.0,2.38,100.0,7.3706,7.6253,NG,1.643567e+09,,,
713,hirara,29.08,9.0,4.26,63.0,12.8347,-4.9244,ML,1.643568e+09,,,

In [41]:
radius = 5000
target_search = "hotel"

In [42]:
# params dictionary to update each iteration
params = {
    "radius": radius,
    "types": "lodging",
    "keyword": target_search,
    "key": gkey
}

# Use the lat/lng pulled in for loop
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel", using our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and convert into json, using pprint to enable data structure
    hotel_address = requests.get(base_url, params=params)
    hotel_address = hotel_address.json()
    #pprint(hotel_address)
    
    # leverage try/except in case data element empty. Use pass to skip exception.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_address["results"][0]["name"]
        hotel_df.loc[index, "Hotel Lat"] = hotel_address["results"][0]["geometry"]["location"]["lat"]
        hotel_df.loc[index, "Hotel Lng"] = hotel_address["results"][0]["geometry"]["location"]["lng"]
        # print updated df with hotel name to validate df updated properly
        #print(hotel_df["Hotel Name"], hotel_address["results"][0]["name"])
    except (KeyError, IndexError):
        pass
    
print(hotel_df)

C:\Users\freed\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

                     City  Max Temperature  Humidity  Wind Speed  Cloudiness  \
150            naryan-mar            24.16      14.0        4.11        94.0
374               tucuman            31.59      10.0        2.60        73.0
394  kichmengskiy gorodok            31.13      11.0        2.38        91.0
396         pacific grove            25.04      13.0        4.96         5.0
605                madera            26.51      11.0        4.15        99.0
610             xiongzhou            25.40      14.0        2.38       100.0
713                hirara            29.08       9.0        4.26        63.0

     Latitude  Longitude Country          Date           Hotel Name Hotel Lat  \
150   10.3744    10.7288      NG  1.643567e+09
374    9.8833    -2.9167      BF  1.643567e+09
394    9.0333     1.4167      TG  1.643567e+09  ROYAL HOTEL TCHAMBA  9.028424
396   20.1986     1.0114      ML  1.643567e+09
605   20.5022   -10.0711      MR  1.643567e+09
610    7.3706     7.6253      NG  1.643567e+09         Ikani Suites  7.395083
713   12.8347    -4.9244      ML  1.643568e+09

    Hotel Lng
150
374
394  1.412325
396
605
610  7.631095
713

In [43]:
hotel_address

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [44]:
hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != "", :]
print(f"Number of Desirable Hotels: {len(hotel_df)}")

marker_locations = hotel_df[["Hotel Lat", "Hotel Lng"]]
marker_locations

hotel_list = hotel_df["Hotel Name"]
hotel_nm_df = pd.DataFrame(hotel_list)
hotel_nm_df.dropna(how = "any", inplace = True)
marker_string = (hotel_df["Hotel Name"] + ", " + hotel_df["City"] + ", " + hotel_df["Country"]).tolist()
marker_string

Number of Desirable Hotels: 2

['ROYAL HOTEL TCHAMBA, kichmengskiy gorodok, TG',
 'Ikani Suites, xiongzhou, NG']

In [45]:
hotel_df

,City,Max Temperature,Humidity,Wind Speed,Cloudiness,Latitude,Longitude,Country,Date,Hotel Name,Hotel Lat,Hotel Lng
394,kichmengskiy gorodok,31.13,11.0,2.38,91.0,9.0333,1.4167,TG,1.643567e+09,ROYAL HOTEL TCHAMBA,9.028424,1.412325
610,xiongzhou,25.40,14.0,2.38,100.0,7.3706,7.6253,NG,1.643567e+09,Ikani Suites,7.395083,7.631095

In [46]:
fig = gmaps.figure(center = (0,0), zoom_level = 2)
heat_layer = gmaps.heatmap_layer(locations, weights = weights, dissipating = False, max_intensity = 200, point_radius = 5)
markers = gmaps.marker_layer(marker_locations, info_box_content = [f"{hotel_name}" for hotel_name in marker_string])
fig.add_layer(markers)
# Add layer
fig.add_layer(heat_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))